body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  text-align: center;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btnbtn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

@media (max-width:470px){
  .btnbtn{
    width: 170px;
    height:170px;
  }
}

@media (max-width:450px){
  .btnbtn{
    width: 150px;
    height:150px;
  }
}

@media (max-width:400px){
  .btnbtn{
    width: 140px;
    height:140px;
  }
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.wood{
  background-color: #966F33;
}

.pink{
  background-color: pink;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

h3{
  font-size: 40px;
  font-weight: bold;;
  color: white;
}